In [1]:
import pandas as pd
import sqlite3
import seaborn as sns

# Create a SQL connection to our SQLite database
con = sqlite3.connect('34.141.41.94')

query = "SELECT * FROM uber.accidents_2017;"

df = pd.read_sql(query, con)

# Apply the default theme
sns.set_theme()

# Load an example dataset
data = sns.load_dataset(df)

DatabaseError: Execution failed on sql 'SELECT * FROM uber.accidents_2017;': no such table: uber.accidents_2017

In [ ]:
# Create a visualization
sns.relplot(
    data=data, kind="line",
    x="timepoint", y="signal", col="region",
    hue="event", style="event",
)